{
  "openapi": "3.1.0",
  "info": {
    "title": "De la Glosa a la Calle API",
    "description": "Catálogo determinista de datos abiertos del Presupuesto Público de Chile 2027 vs 2026.",
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://delaglosaalacalle.evegat.cl",
      "description": "Dominio público principal; verificar versión y disponibilidad del candidato publicado"
    }
  ],
  "paths": {
    "/data/presupuesto2027.json": {
      "get": {
        "operationId": "obtenerPresupuesto2027",
        "summary": "Comparativa 2026 vs 2027: 515 programas presupuestarios en 33 partidas",
        "description": "Retorna sumas brutas y detalle de 515 programas presupuestarios en 33 partidas, con montos inicial 2026, vigente 2026 y proyecto 2027 en miles de pesos. No representa gasto público consolidado ni prestaciones perdidas.",
        "responses": {
          "200": {
            "description": "Resumen y lista de programas presupuestarios",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/data/matriz_articulado_2026_2027.json": {
      "get": {
        "operationId": "obtenerMatrizArticulado",
        "summary": "Obtiene los 9 ejes normativos del articulado (Ley 2026 vs Proyecto 2027)",
        "description": "Contraste normativo riguroso entre la Ley N° 21.796 y el Mensaje N° 180 (endeudamiento, SLEP, SEP, honorarios, fundaciones, obras, proveedores, publicidad, transparencia).",
        "responses": {
          "200": {
            "description": "Lista de ejes normativos comparados",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array"
                }
              }
            }
          }
        }
      }
    },
    "/data/recorridos.json": {
      "get": {
        "operationId": "obtenerRecorridosGasto",
        "summary": "Obtiene los recorridos de gasto desde la glosa hasta la calle",
        "description": "Diccionario indexado por código de programa y BIPS con las 4 estaciones de ejecución fiscal y compras públicas.",
        "responses": {
          "200": {
            "description": "Mapa de recorridos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    }
  }
}